{% layout "layout.liquid" %}
{% block content %}

<div>

 <form action="/inventory/{{item._id}}?_method=PUT" method="post">
  <fieldset>
    <legend>Edit {{item.name}}</legend>
        <label>
            Name:<br> <input type="text" name="name" value="{{item.name}}"/>
        </label>
        <label>
            Image Link:<br> <input type="text" name="img" value="{{item.img}}"/>
        </label>
        <label>
            Purchase Price:<br> <input type="number" name="pricePaid" value="{{item.pricePaid}}"/>
        </label>
        <label>
            Listed Price:<br> <input type="number" name="priceListed" value="{{item.priceListed}}"/>
        </label>
        <label>
            Date Purchased:<br> <input type="date" name="datePurchased" value="{{item.datePurchased}}"/>
        </label>
    </fieldset>
    <input type="submit" value="Edit {{item.name}}"/>
 </form>

</div>


{% endblock %}
