{% layout "layout.liquid" %}
{% block content %}
<div class="sDisplay">
    <div class="itmShow">
        <h1>{{item.name}}</h1>
        <img src="{{item.img}}" alt="">
    </div>
    <hr class="vert">
    <div class="itmInfo">
        <h4>Price Paid:</h4>
        <p class="paidPrice">${{item.pricePaid}}</p>
        <h4>Price Listed:</h4>
        {% if item.priceListed > item.pricePaid%}
        <p class="endPrice green">
        {% else %}
        <p class="endPrice red">
        {% endif %}
        ${{item.priceListed}}</p>
        <h5 class="date">Date Purchased:</h5>
        <div class="datePurchased">{{item.datePurchased}}</div>
        <div class="showBtns">
            <a href="/inventory/{{item._id}}/edit"><button>EDIT</button></a>
            <form action="/inventory/{{item._id}}?_method=DELETE" method="post">
            <input type="submit" value="DELETE">
            </form>
        </div>
    </div>
</div>

{% endblock %}